.calendar.scroll {
  position: relative;
  padding-top: 30px;

  .calendar-weekday-header-row {
    position: absolute;
    left: 16px;
    top: 0px;
  }

  .scroll-box {
    overflow-y: scroll;
    height: 380px;
  }

  .calendar-month-grid {
    position: relative;
  }

  .calendar-month {
    padding-top: 0px;
  }

  .calendar-month-title {
    z-index: 2;
    background: white;
    position: relative;
  }
}
