@import "./font";

@mixin center-content() {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin calendar(
  $day-width,
  $day-height,
  $day-inner-width,
  $day-inner-height,
  $day-font-size,
  $day-border-radius,
  $day-hover-color,
  $day-selected-color,
  $day-in-range-color
) {
  @include font-size($day-font-size);
  text-align: center;
  .calendar-day {
    display: inline-block;
    vertical-align: top;
    width: $day-width;
    height: $day-height;
    cursor: pointer;
    @include center-content();
    > div {
      width: $day-inner-width;
      height: $day-inner-height;
      line-height: $day-inner-height;
      border-radius: $day-border-radius;
    }
    @include calendar-day-today();
    @include calendar-day-hover($day-hover-color);
    @include calendar-day-in-range($day-width, $day-height, $day-border-radius, $day-hover-color, $day-in-range-color);
    @include calendar-day-selected($day-selected-color);
    @include calendar-day-empty();
    @include calendar-day-invalid();
  }
  .calendar-weekday-header {
    display: inline-block;
    vertical-align: top;
    width: $day-width;
  }
  .calendar-weekday-header-row {
    padding: 6px 0px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #888888;
  }
  .calendar-month-grid {
  }
  .calendar-month {
    padding: 16px;
  }
  .calendar-month-title {
    margin: 6px 0px;
  }
}
@mixin calendar-day-today() {
  &.today .calendar-date {
    font-weight: bold;
  }
}
@mixin calendar-day-hover($day-hover-color) {
  &:hover > div,
  &.hover > div {
    background: $day-hover-color;
  }
}
@mixin calendar-day-in-range($day-width, $day-height, $day-border-radius, $day-hover-color, $day-in-range-color) {
  &.in-range:before {
    background: $day-in-range-color;
  }
  &.in-range-hover:before {
    background: $day-hover-color;
  }
  &.in-range,
  &.in-range-hover {
    position: relative;
    $start-end-side-gap: (($day-width - $day-height) / 2);
    &:before {
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
    }
    &.start:before {
      border-top-left-radius: $day-border-radius;
      border-bottom-left-radius: $day-border-radius;
      left: $start-end-side-gap;
    }
    &.end:before {
      border-top-right-radius: $day-border-radius;
      border-bottom-right-radius: $day-border-radius;
      right: $start-end-side-gap;
    }
  }
}
@mixin calendar-day-selected($day-selected-color) {
  &.selected > div {
    background: $day-selected-color;
  }
}
@mixin calendar-day-empty() {
  &.empty {
    pointer-events: none;
  }
}
@mixin calendar-day-invalid() {
  &.invalid {
    pointer-events: none;
    opacity: 0.3;
  }
}
