@import "./variables";

$day-width: 50px;
$day-height: 40px;
$day-inner-width: 28px;
$day-inner-height: 28px;
$day-font-size: m;
$day-border-radius: 100%;

$highlight-color: #3498db;

$day-hover-color: rgba($highlight-color, 0.2);
$day-selected-color: rgba($highlight-color, 0.5);
$day-in-range-color: rgba($highlight-color, 0.25);

.calendar {
  @include calendar(
    $day-width,
    $day-height,
    $day-inner-width,
    $day-inner-height,
    $day-font-size,
    $day-border-radius,
    $day-hover-color,
    $day-selected-color,
    $day-in-range-color
  );
}
