@import "./variables";

$day-width: 120px;
$day-height: 90px;
$day-inner-size: 80px;
$day-font-size: m;

.calendar.calendar-large {
  @include calendar($day-width, $day-height, $day-inner-size, $day-font-size);
}
