.examples {
  max-width: 1024px;
  min-width: 1024px;
  overflow-x: auto;
  margin: 0px auto;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 0px 1px #888888;

  h1 {
    margin: 0px;
    margin-left: 24px;
  }

  .example {
    padding: 24px;

    .component {
      display: inline-block;
      padding: 12px;
      box-shadow: 0px 0px 2px #888888;
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.1);
    }

    .description {
      margin-top: 18px;
    }
  }
}
